/*
<p>Modern luxury apparel for the working-class.</p>
*/

/*———————————————————————————————————————*/
/* SECTION Imports                       */
/*———————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');

/*———————————————————————————————————————*/
/* SECTION Elements                      */
/*———————————————————————————————————————*/
    
body {animation: fadeIn 1s;}

body, html {
    background-color: black;
    color:            var(--text-color-1);
    width:            100%;
    height:           100%;
    margin:           0;
}

/*———————————————————————————————————————*/
/* SECTION Variables                     */
/*———————————————————————————————————————*/

:root {
    /* NOTE: Background colors. */
    --background-color-1: rgb(17, 17, 17);
    --background-color-2: rgba(37, 33, 33, 0.25);

    /* NOTE: Text colors. */
    --text-color-1: white;
    --text-color-2: black;
    --text-color-3: rgba(255, 255, 255, 0.5);

    /* NOTE: Fonts. */
    --font-family-1: ;
    --font-family-2: 'Castoro', serif;
    --font-family-3: 'Sulphur Point', sans-serif;

    /* NOTE: Borders. */
    --border-1: 0.1em solid white;

    /* NOTE: Misc colors. */
    --blue: #14BDEB;
}

/*———————————————————————————————————————*/
/* SECTION Classes                       */
/*———————————————————————————————————————*/

/* SECTION: Search-Bar */

/*———————————————————————————————————————*/
/* SECTION Id's                          */
/*———————————————————————————————————————*/

/* NOTE: Page 1. */
/* SECTION: Announcements */
#announcements {
    width:            100%;
    height:           3.5em;
    position:         absolute;
    color:            var(--text-color-3);
    background-color: var(--background-color-1);
    font-family:      var(--font-family-2);
    font-size:        0.65em;
    letter-spacing:   0.1em;
}

#announcements h1 {
    margin:      0.5em;
    margin-left: 2em;
}

#announcements a {
    text-decoration: underline;
    color:           var(--text-color-3);
}

/* TODO: Sign-up hover animation. */
#announcements a:hover {
    color: var(--text-color-1);
}

/* SECTION: Signup Login Box */
#signup-login {
    position: absolute;
    right:    2em;
    top:      2em;
    z-index:  1;
    font-family: var(--font-family-2);
}

#signup-login ul {
    list-style:   none;
    padding-left: 0;
    margin:       none;
}

#signup-login li {
    display: inline-block;
    padding: 1em;
}

#signup-login a {
    text-decoration: none;
    color:           var(--text-color-3);
    font-size:       1.25em;
}

#signup-login a:hover {
    color: var(--text-color-1);
    cursor: pointer;
}

/* SECTION: Nav-Bar */
#navbar {
    width:         100%;
    height:        15em;
    top:           2.25em;
    padding:       2em;
    position:      absolute;
    z-index:       0;
}

/* SECTION: Search-Bar */
#navbar input[type=text] {
    padding:       6px;
    border:        none;
    border-bottom: var(--border-1);
    width:         30em;
    color:         var(--text-color-1);
    background:    none;
    top:           1em;
    left:          50%;
    transform:     translateX(-50%);
    top:           25em;
    position:      absolute;
    font-size:     1em;
    outline:       none;
    text-align:    center;
}

#navbar input:focus {
    border-bottom: 0.1em solid var(--blue);
}

#product-list {
    width:            30em;
    padding:          1em;
    height:           auto;
    position:         absolute;
    left:             50%;
    transform:        translateX(-50%);
    top:              26.5em;
    background-color: var(--background-color-2);
    border:           var(--border-1);
    list-style:       none;
}

/* NOTE: !!!TESTING!!! */
    #product-list li {
        border-bottom: var(--border-1);
    }

    #product-list li:hover {
        color:  var(--blue);
        cursor: pointer;
    }

    .product-image {
        width:            10em;
        height:           10em;
        position:         relative;
        left:             15em;
        top:              1em;
        padding:          1em;
        border:           var(--border-1);
        background-color: var(--background-color-2);
    }
/* TODO: Figure out a good styling for the price-tag! */
    .image-label {
        position:      relative;
        top:           2.6em;
        display:       inline-block;
        width:         9.75em;
        left: 2.5em;
        text-align:    center;
        border-left:   var(--border-1);
        border-right:  var(--border-1);
        border-bottom: var(--border-1);
        padding:       0.75em;
    }

    .title-test {
        font-family: var(--font-family-3);
    }

    .desc-test {
        font-family: var(--font-family-2);
    }

/* NOTE: !!!TESTING!!! */


/* SECTION: Title */
#title {
    width:     auto;
    position:  absolute;
    left:      50%;
    top:       8em;
    transform: translateX(-50%);
}

#title:hover {
    cursor: pointer;
}

#title a {
    text-decoration: none;
}

/* TODO: Re-organize everything. */
#title img {
    width:         8em;
    height:        8em;
    border:        0.2em solid white;
    border-radius: 50%;
    left:          50%;
    transform:     translateX(-50%);
    bottom:        6.5em;
    position:      absolute;
}

#title h1 {
    font-family: var(--font-family-3);
    color:       var(--text-color-1);
    font-size:   3em;
    text-align:  center;
    user-select: none;
}

#title-buttons {
    width:        60%;
    color:        var(--text-color-3);
    position:     absolute;
    width:        50em;
    top:          15em;
    left:         50%;
    transform:    translateX(-50%);
    border-left:  var(--border-1);
    border-right: var(--border-1);

    /* TODO: Moving bar | <- Title -> | UI. */
    animation: barsMove 2s;
    animation-delay:    2s;
}

#title-buttons ul {
    list-style:   none;
    padding-left: 20px;
}

#title-buttons li {
    display: inline-block;
    padding: 1em;
}

#title-buttons a {
    font-family:     var(--font-family-2);
    font-size:       1.5em;
    color:           var(--text-color-3);
    text-decoration: none;
}

#title-buttons a:hover {
    border-bottom: var(--border-1);
    border-top:    var(--border-1);
    color:         var(--text-color-1);
    cursor:        pointer;
}

/*———————————————————————————————————————*/
/* SECTION Media Queries                 */
/*———————————————————————————————————————*/

@media screen and (max-width: 1000px) {
    #title h1 {
        display: none;
    }

    #title img {
        width:    6em;
        height:   6em;
        position: absolute;
        left:     2em;
        top:      2em;
    }
    
}

/*———————————————————————————————————————*/
/* SECTION Keyframes                     */
/*———————————————————————————————————————*/

/* SECTION Page Transitions */
@keyframes fadeIn {
    0%   {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0%   {opacity:1;}
    100% {opacity:0;}
}

/* TODO: Moving bar UI.
@keyframes barsMove {
    0% {width: 0; opacity: 0;}
    100% {width: 50em; opacity: 1;}
}

*/

/* NOTE: Moving background-color gradient.
#product-list {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
*/