/*———————————————————————————————————————*/
/* SECTION Imports                       */
/*———————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');

/*———————————————————————————————————————*/
/* SECTION Elements                      */
/*———————————————————————————————————————*/

body, html {
    background-color: black;
    color:            var(--text-color-1);
    width:            100%;
    height:           100%;
    margin:           0;
}

/*———————————————————————————————————————*/
/* SECTION Variables                     */
/*———————————————————————————————————————*/

:root {
    /* NOTE: Background colors. */
    --background-color-1: rgb(17, 17, 17);
    --background-color-2: rgba(37, 33, 33, 0.25);

    /* NOTE: Text colors. */
    --text-color-1: white;
    --text-color-2: black;
    --text-color-3: rgba(255, 255, 255, 0.5);

    /* NOTE: Fonts. */
    --font-family-1: ;
    --font-family-2: 'Castoro', serif;
    --font-family-3: 'Sulphur Point', sans-serif;

    /* NOTE: Misc colors. */
    --blue: #14BDEB;
}

/*———————————————————————————————————————*/
/* SECTION Classes                       */
/*———————————————————————————————————————*/

/* NOTE: Clothing Grid */
.grid-item {
    max-width: 13em;
}

.grid-item:hover {
    cursor: pointer;
}

.clothing-images {
    width:     55%;
    height:    55%;
    position:  relative;
    left:      50%;
    transform: translateX(-50%);
}

.clothing-title {
    font-family: var(--font-family-3);
    color:       var(--text-color-3);
    position:    relative;
    max-width:   13em;
    max-height:  auto;
}

/*———————————————————————————————————————*/
/* SECTION Id's                          */
/*———————————————————————————————————————*/

/* NOTE: Title */
#title {
    width:      20em;
    height:     15em;
    text-align: center;
    position:   absolute;
    left:       50%;
    top:        1em;
    transform:  translateX(-50%);
}

#title h1 {
    color:         white;
    font-family:   var(--font-family-2);
    border-top:    0.1em solid white;
    border-bottom: 0.1em solid white;
    position:      relative;
    top:           5em;
}

#title img {
    width:         8em;
    height:        8em;
    border:        0.2em solid white;
    border-radius: 50%;
    left:          50%;
    transform:     translateX(-50%);
    bottom:        6.5em;
    position:      absolute;
}

#title a:hover {
    cursor: pointer;
}

#title h3 {
    font-family: var(--font-family-2);
    position:    relative;
    top:         6em;
}

/* NOTE: Clothing Grid */
#clothing-grid {
    display:               grid;
    width:                 auto;
    position:              absolute;
    top:                   18em;
    left:                  50%;
    transform:             translateX(-50%);
    display:               grid;
    grid-template-columns: auto auto auto;
    column-gap:            1em;
    row-gap:               1em;
}

/* NOTE: Side Nav */


/*———————————————————————————————————————*/
/* SECTION Media Queries                 */
/*———————————————————————————————————————*/



/*———————————————————————————————————————*/
/* SECTION Keyframes                     */
/*———————————————————————————————————————*/