/*———————————————————————————————————————*/
/* SECTION Imports                       */
/*———————————————————————————————————————*/

@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap');

/*———————————————————————————————————————*/
/* SECTION Elements                      */
/*———————————————————————————————————————*/

body {animation: fadeIn 1s;}

body, html {
    background-color: black;
    color:            var(--text-color-1);
    width:            100%;
    height:           100%;
    margin:           0;
}

/*———————————————————————————————————————*/
/* SECTION Variables                     */
/*———————————————————————————————————————*/

:root {
    /* NOTE: Background colors. */
    --background-color-1: rgb(17, 17, 17);
    --background-color-2: rgba(37, 33, 33, 0.25);
    --background-color-3: white;

    /* NOTE: Text colors. */
    --text-color-1: white;
    --text-color-2: black;
    --text-color-3: rgba(255, 255, 255, 0.5);

    /* NOTE: Fonts. */
    --font-family-1: 'Cormorant', serif;
    --font-family-2: 'Castoro', serif;
    --font-family-3: 'Sulphur Point', sans-serif;

    /* NOTE: Borders. */
    --border-1: 0.1em solid white;
    --border-2: 0.1em solid rgba(255, 255, 255, 0.5);

    /* NOTE: Misc colors. */
    --blue: #14BDEB;
}

/*———————————————————————————————————————*/
/* SECTION Classes                       */
/*———————————————————————————————————————*/

/* NOTE: Clothing Grid */
.grid-item {
    max-width: 13em;
}

.grid-item:hover, .grid-item:hover h3 {
    cursor: pointer;
    color: var(--text-color-1);
    text-decoration: underline;
}

.clothing-images {
    width:     55%;
    height:    55%;
    position:  relative;
    left:      50%;
    transform: translateX(-50%);
}

.clothing-title {
    font-family: var(--font-family-3);
    color:       var(--text-color-3);
    position:    relative;
    max-width:   13em;
    max-height:  auto;
}

/*———————————————————————————————————————*/
/* SECTION Id's                          */
/*———————————————————————————————————————*/

/* SECTION: Title */
#title {
    width:     auto;
    position:  absolute;
    left:      50%;
    top:       7em;
    transform: translateX(-50%);
}

#title:hover {
    cursor: pointer;
}

#title a {
    text-decoration: none;
}

/* TODO: Re-organize everything. */
#title img {
    width:         8em;
    height:        8em;
    border:        var(--border-1);
    border-radius: 50%;
    left:          50%;
    transform:     translateX(-50%);
    bottom:        7.5em;
    position:      absolute;
}

#title h1 {
    font-family: var(--font-family-1);
    color:       var(--text-color-1);
    font-size:   3.5em;
    text-align:  center;
    user-select: none;
    font-weight: 300;
    position:    relative;
}

#title-buttons {
    color:        var(--text-color-3);
    position:     absolute;
    width:        60em;
    top:          16em;
    left:         50%;
    transform:    translateX(-50%);
    border-left:  var(--border-1);
    border-right: var(--border-1);

    /* TODO: Moving bar | <- Title -> | UI. */
    animation: barsMove 2s;
    animation-delay:    2s;
}

#title-buttons ul {
    list-style:   none;
    padding-left: 3.5em;
    padding-right: 3.5em;
}

#title-buttons li {
    display: inline-block;
    padding: 1em;
}

#title-buttons a {
    font-family:     var(--font-family-1);
    font-size:       2em;
    color:           var(--text-color-3);
    text-decoration: none;
}

#title-buttons a:hover {
    border-bottom: var(--border-1);
    border-top:    var(--border-1);
    color:         var(--text-color-1);
    cursor:        pointer;
}

/* NOTE: Clothing Grid */
#clothing-grid {
    position:     absolute;
    top:          25em;
    left:         50%;
    width:        60em;
    transform:    translateX(-50%);
    border-left:  var(--border-1);
    border-right: var(--border-1);
}

#grid-container {
    display:               grid;
    grid-template-columns: auto auto auto;
    column-gap:            1em;
    row-gap:               1em;
    position: relative;
    padding-left: 5em;
}

/*———————————————————————————————————————*/
/* SECTION Media Queries                 */
/*———————————————————————————————————————*/



/*———————————————————————————————————————*/
/* SECTION Keyframes                     */
/*———————————————————————————————————————*/

/* SECTION Page Transitions */
@keyframes fadeIn {
    0%   {opacity:0;}
    100% {opacity:1;}
}

@keyframes fadeOut {
    0%   {opacity:1;}
    100% {opacity:0;}
}